<ul class="nav">
    <li role="presentation" class="active">
      <a class="nav-link" routerLink="/table/all">All</a>
    </li>
    <li role="presentation" >
      <a class="nav-link" routerLink="/table/Iris-setosa">Iris-setosa</a>
    </li>
    <li role="presentation">
      <a class="nav-link" routerLink="/table/Iris-versicolor">Iris-versicolor</a>
    </li>
    <li role="presentation">
      <a class="nav-link" routerLink="/table/Iris-virginica">Iris-virginica</a>
    </li>
  </ul>
<router-outlet></router-outlet>